@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

body {
  font-family: 'Open Sans', sans-serif; 
  font-size: 15px;
  font-weight: 500;
  margin-top:40px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 120%;
  width: auto;
}

.navbar-inverse .navbar-nav>.active>a{
  background-color: #098DBB;
  border-style: solid;
  border-width: 2px;
  border-color: #098DBB;
}

.navbar-inverse .navbar-nav>.active>a:hover {
  background:#54B4F9;
  border-style: solid;
  border-width: 2px;
  border-color: #098DBB;
}

.navbar-inverse .navbar-nav>li>a {
  color: #098DBB;

}
.navbar-inverse .navbar-nav>li>a:hover {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

#headtext{
  display: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #54B4F9;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 2px;
}

.navbar-toggle {
    border: 1px solid;
    border-radius: 0px;
}

.navbar-inverse .navbar-toggle {
    border-color: #098DBB;
}

.col-sm-12{
  margin-top: 20px;
}
.jumbotron{
  text-align: justify;
  background-color:transparent !important;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left:40px;
  margin-right:40px;
}
.jumbotron  h1{
  font-size: 36px;
  padding-top: 0px;

}
.jumbotron  p{
  font-size: 14px;
}

.row{
  margin-left:85px;
  margin-right:85px;
  align-items: center;
  text-align: center;
  color:#666666;
  font-style: italic;
  font-size: 14px;
}
.row img {
  width: 100%;
}

.btn.btn-primary {
  font-size: 20px;
  border: 0px;
  border-radius: 0px;
  position: relative;
  align-items: center;
  font-weight: 700;
  text-align: center;
  color:#C50A0A;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 4px;
  border-color: #C50A0A;
}

.btn.btn-primary:hover {
  color: #ffffff;
  text-shadow: none;
  background-color: #C50A0A;
}

.btn.btn-primary:hover:after{
  content: " >>> ";
}

#buttonblue{
  background-color: #54B4F9;
  color:white;
  background-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-color: #54B4F9;
  text-shadow: none;
}

#buttonblue:hover {
  background-color: #54B4F9;
}

#img6{
  text-shadow: 0px 0px 100px  white, 0px 0px 80px  white, 0px 0px 100px  white, 0px 0px 20px  white, 0px 0px 20px  white;
  height: 40vh;
}

#img6.jumbotron{
  text-shadow: 0px 0px 100px  white, 0px 0px 80px  white, 0px 0px 100px  white, 0px 0px 20px  white, 0px 0px 20px  white;
  height: 40vh;
  padding: 0 0 0 0;
  background-color: #098DBB;
}

.img6overlay{
  color:white;
  background-color: #098DBB;
  width:100%;
  display: flex;
  padding: 0 0 0 0;
  margin:0 0 0 0;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

footer {
  font-size: 12px;
  padding: 40px 0;
  bottom: 0px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}


@media screen and (max-width: 768px) {
.jumbotron{
  margin-left:20px;
  margin-right:20px;
}
.row{
  margin-left:20px;
  margin-right:20px;
  font-size: 12px;
}

.btn.btn-primary {
  font-size: 17px;
  position: relative;
}

footer {
  font-size: 10px;
  padding: 10px 0;
  bottom: 0px;
}
}

@media screen and (max-width: 414px) {
.jumbotron{
  margin-left:10px;
  margin-right:10px;
}

.row{
  margin-left:10px;
  margin-right:10px;
  font-size: 12px;
} 
.jumbotron  h1{
  font-size: 25px;
}
.jumbotron  p{
  font-size: 12px;
}

#img6.jumbotron{
  text-shadow: none;
  height: 30vh;
  padding: 0 0 0 0;
  background-color: #098DBB;
}

.img6overlay{
  color:white;
  background-color: #098DBB;
  width:100%;
  display: flex;
  padding: 0 0 0 0;
  margin:0 0 0 0;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.btn.btn-primary {
  text-align: center;
  color:white;
  background-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1px;
  border-color: white;
  font-size: 15px;
  position: relative;
  left:0px;
  top:1vh;
  text-shadow: none;
}

.btn.btn-primary:hover {
  color: #098DBB;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.6);
  border-width: 0px;
}

.btn.btn-primary:after{
  content: " >>> ";
}

#buttonblue{
  background-color: #54B4F9;
  color:white;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #54B4F9;
}

#buttonblue:hover {
  background-color: #54B4F9;
}

footer li img {
  width: 20px;
  height: 20px;
}
footer {
  font-size: 8px;
  padding: 5px 0;
  bottom: 0px;
}

}

